<div class="footer-area container pt-2 pb-2">
	<div class="row text-light-green">
		<div class="col-4 ps-3 text-start">
			<small class="fst-italic fw-bold">José Mendoza Zavala</small>
		</div>
		<div class="col-4 text-center">
			<small class="fst-italic fw-bold">Desarrollado con Angular 19 <br class="d-block d-md-none">+ Boostrap 5</small>
		</div>
		<div class="col-4 text-end">
			<div class="pe-3 d-inline text-center text-white m-auto cursor-pointer link-a">
				<a href="https://www.instagram.com/josemendozaz93/" target="_blank">
					<img class="text-light-green" src="/social-network/icon-instagram.png" alt="">
				</a>
			</div>
			<div class="pe-3 d-inline text-center text-white m-auto cursor-pointer link-a">
				<a href="https://github.com/josemendozaz" target="_blank">
					<img class="text-light-green" src="/social-network/github.png" alt="">
				</a>
			</div>
		</div>
	</div>
</div>







