.icon-code {
	width : 120px;
}
.line-skill {
	width : 200px;
}
/* Vertical line arrow */
.vertical-line:after {
	content		: "\e006";
	font-family	: 'squarespace-ui-font';
	position	: absolute;
	bottom		: -10px;
	left		: 50%;
	transform	: translateX(-50%) rotate(180deg);
}
.vertical-line {
	position: relative;
}
.arrow {
	position	: relative;
	width		: 180px;
	height		: 2px;
	display		: flex;
	align-items	: center;
}
.arrow::before,
.arrow::after {
	content				: '';
	position			: absolute;
	width				: 10px;
	height				: 10px;
	background-color	: #98FAEC;
	border-radius		: 50%;
}
.arrow::before {
	left	: 0;
}
.arrow::after {
	right	: 0;
}
.arrow {
	background	: linear-gradient(to right, transparent 5px, #98FAEC 2px, #98FAEC calc(100% - 5px), transparent calc(100% - 30px)); /* Línea delgada */
}
.alert-width {
	width	: 18rem;
}
.float-end-custom {
	float: right;
	margin-right: 60px;
}
.float-start-custom {
	float: left;
	margin-left: 60px;
}
.skill-icon-enviroment {
	width	: 32px;
}
.alert-box-pc {
	border-left-color	: #f62BA0;
	border-left-width	: 5px;
}
.alert-box-mobile {
	border-left-color	: #0054e9;
	border-left-width	: 5px;
}
.skills-img {
	width	: 7rem;
}
.text-skills {
	font-weight	: 400;
	font-size	: 14px;
}
.carousel-external {
	height		: 80vh;
}
.carousel-item-section {
	height		: 100%;
}
.carousel-control-next, .carousel-control-prev {
    width		: 4%;
    background	: rgba(0, 0, 0, 0.3);
    opacity		: 0.15;
}
::ng-deep .slide {
	position	: relative;
	transition	:	all 0.5s;
	width		: 100% !important;
}
swiper-container {
	display	: block;
	width	: 100%;
}
swiper-slide {
	display			: flex;
	align-items		: center;
	justify-content	: center;
	height			: 100%;
}
img {
	object-fit	: cover;
	height		: 100%;
	width		: 100%;
}
ul.li {list-style-type: circle;}
