<div class="skills pt-5">
	<div class="container">
		<div class="row row-skills-title pt-2">
			<div class="col-12 text-center">
				<h2 class="text-light-green">Proyectos</h2>
				<div class="arrow m-auto"></div>
				<h5 class="mt-4 text-light-green">Proyetos desarrollados</h5>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div id="carouselExternal" class="carousel slide carousel-external" data-bs-ride="carousel">
					<div class="carousel-inner">
						@for ( work of works; track work.id ) {
							@if ( work ) {
								<div class="carousel-item carousel-item-section {{ work.id == 1 ? 'active' : '' }}">
									<div class="container">
										<div class="row">
											<div class="col-12 col-md-7 m-auto ps-5 pe-5">
												<swiper-container
													init="false"
													speed="800"
													class="swiper mySwiper"
													slides-per-view="1"
													navigation="true"
													autoplay-delay="4000"
													autoplay-disable-on-interaction="false"
													autoplay-pause-on-mouse-enter="true"
													loop="true"
													style="width: auto; height: auto;"
												>
													@if ( work.imgs.length >= 3 ) {
														@for ( img of work.imgs; track $index ) {
															<swiper-slide>
																<img [src]="'/works/projects/' + work.alias + '/' + img" class="img-fluid w-100 h-100" style="object-fit: cover;" />
															</swiper-slide>
														}
													}
												</swiper-container>
											</div>
											<div class="col-12 col-md-5 pt-5 pb-5">
												<h3 class="text-start text-light-green">{{ work.title }}</h3><br>
												<p class="text-justify text-light-green" [innerHtml]="work.description">{{ work.description }}</p>
											</div>
										</div>
									</div>
								</div>
							}
						}
					</div>
					<button class="carousel-control-prev" type="button" data-bs-target="#carouselExternal" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#carouselExternal" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
