<div class="works pt-5">
	<div class="container">
		<div class="row row-works-title pt-2" data-aos="zoom-in" data-aos-easing="ease-out-cubic" data-aos-duration="1000">
			<div class="col-12 text-center">
				<h2 class="text-light-green">Proyectos</h2>
				<div class="arrow m-auto"></div>
				<h5 class="mt-4 text-white">Cada proyecto es una historia de innovación, retos superados y soluciones a medida. A continuación te presento una selección de trabajos donde aplico mi experiencia técnica para dar vida a plataformas funcionales, modernas y visualmente atractivas. Explora cada uno desde una perspectiva visual y técnica, con descripciones claras y un vistazo directo a su funcionamiento.</h5>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div id="carouselExternal" class="carousel slide carousel-external" data-bs-ride="carousel" data-aos="zoom-in" data-aos-easing="ease-out-cubic" data-aos-duration="1000">
					<div class="carousel-inner">
						@for ( work of works; track work.id ) {
							@if ( work ) {
								<div class="carousel-item carousel-item-section {{ work.id == 1 ? 'active' : '' }}">
									<div class="container">
										<div class="row">
											<div class="carousel-internal-column col-12 col-md-7 m-auto ps-5 pe-5">
												<swiper-container
													init="false"
													speed="800"
													class="swiper mySwiper"
													slides-per-view="1"
													navigation="true"
													autoplay-delay="4000"
													autoplay-disable-on-interaction="false"
													autoplay-pause-on-mouse-enter="true"
													loop="true"
													style="width: auto; height: auto;"
												>
													@if ( work.imgs.length >= 3 ) {
														@for ( img of work.imgs; track $index ) {
															<swiper-slide lazy="true">
																<lightgallery [settings]="settings" [onBeforeSlide]="onBeforeSlide">
																	<a [href]="'/works/projects/' + work.alias + '/' + img">
																		<img loading="lazy" [src]="'/works/projects/' + work.alias + '/' + img" class="img-fluid w-100 h-100" style="object-fit: cover;" [alt]="'Preview ' + work.title + '<br>(Los datos presentados en estas imágenes son simulados y utilizados exclusivamente para propósitos de demostración)'" />
																	</a>
																</lightgallery>
															</swiper-slide>
														}
													}
												</swiper-container>
											</div>
											<div class="col-12 col-md-5 pt-5 pb-5">
												<h3 class="text-center text-md-start text-light-green works-title">{{ work.title }}</h3><br>
												<p class="text-start text-white works-description" [innerHtml]="work.description">{{ work.description }}</p>
											</div>
										</div>
									</div>
								</div>
							}
						}
					</div>
					<button class="carousel-control-prev" type="button" data-bs-target="#carouselExternal" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#carouselExternal" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
