.icon-code {
	width : 120px;
}
.line-skill {
	width : 200px;
}
/* Vertical line arrow */
.vertical-line:after {
	content		: "\e006";
	font-family	: 'squarespace-ui-font';
	position	: absolute;
	bottom		: -10px;
	left		: 50%;
	transform	: translateX(-50%) rotate(180deg);
}
.vertical-line {
	position: relative;
}
.arrow {
	position	: relative;
	width		: 180px;
	height		: 2px;
	display		: flex;
	align-items	: center;
}
.arrow::before,
.arrow::after {
	content				: '';
	position			: absolute;
	width				: 10px;
	height				: 10px;
	background-color	: #98FAEC;
	border-radius		: 50%;
}
.arrow::before {
	left	: 0;
}
.arrow::after {
	right	: 0;
}
.arrow {
	background	: linear-gradient(to right, transparent 5px, #98FAEC 2px, #98FAEC calc(100% - 5px), transparent calc(100% - 30px)); /* Línea delgada */
}
.carousel-external {
	height		: 80vh;
}
.carousel-item-section {
	height		: 100%;
}
.carousel-control-next, .carousel-control-prev {
    width		: 4%;
    background	: rgba(0, 0, 0, 0.3);
    opacity		: 0.15;
}
::ng-deep .slide {
	position	: relative;
	transition	:	all 0.5s;
	width		: 100% !important;
}
swiper-container {
	display	: block;
	width	: 100%;
}
swiper-slide {
	display			: flex;
	align-items		: center;
	justify-content	: center;
	height			: 100%;
}
img {
	object-fit	: cover;
	height		: 100%;
	width		: 100%;
}
ul.li {list-style-type: circle;}
.works h2 {
	font-size	: 2vw;
}
.works h5 {
	font-size	: 1.3vw;
}
.works .works-title {
	font-size	: 2vw;
}
.works .works-description {
	font-size	: 1vw;
}
/* ---------- RESPONSIVO ---------- */
/* ////////// RESPONSIVO IPHONE / ANDROID / TABLE ////////// */
/* iPhone Portrait */
@media only screen
	and (min-device-width: 320px)
	and (max-device-width: 896px)
	and (orientation: portrait)
	and (-webkit-min-device-pixel-ratio: 2) {
	/* Estilos exclusivos para iPhone en vertical */

}
/* iPhone Landscape */
@media only screen
	and (min-device-width: 320px)
	and (max-device-width: 896px)
	and (orientation: landscape)
	and (-webkit-min-device-pixel-ratio: 2) {
	/* Estilos exclusivos para iPhone en horizontal */
}
/* Android Portrait */
@media only screen
	and (min-device-width: 320px)
	and (max-device-width: 800px)
	and (orientation: portrait)
	and (-webkit-min-device-pixel-ratio: 1) {
	/* Estilos exclusivos para Android en vertical */
}
/* Android Landscape */
@media only screen
	and (min-device-width: 320px)
	and (max-device-width: 800px)
	and (orientation: landscape)
	and (-webkit-min-device-pixel-ratio: 1) {
	/* Estilos exclusivos para Android en horizontal */
}
/* iPad / Tablets in Portrait */
@media only screen
	and (min-device-width: 768px)
	and (max-device-width: 1024px)
	and (orientation: portrait) {
	/* Estilos para tablets en vertical */
}
/* iPad / Tablets in Landscape */
@media only screen
	and (min-device-width: 768px)
	and (max-device-width: 1366px)
	and (orientation: landscape) {
	/* Estilos para tablets en horizontal */
	.carousel-external {
		height: auto !important;
	}
	.carousel-external .col-md-7 {
		flex	: 0 0 auto!important;
		width	: 100%!important;
	}
	.carousel-external .col-md-5 {
		flex	: 0 0 auto!important;
		width	: 100%!important;
	}
}
/* ////////// RESPONSIVO GENERAL ////////// */
/* Extra pequeño (móviles pequeños, menos de 576px) */
@media (max-width: 575.98px) {
	.row-works-title h2 {
		font-size	: 5vw;
	}
	.row-works-title h5 {
		font-size		: 16px!important;
		margin-bottom	: 10vw;
	}
	.works .works-title {
		font-size	: 5vw;
	}
	.works .works-description {
		font-size	: 16px!important;
	}
	.carousel-external {
		height: auto !important;
	}
	.carousel-internal-column {
		padding-left	: 1rem !important;
		padding-right	: 1rem !important;
	}
}
/* Pequeño (móviles grandes) */
@media (min-width: 576px) and (max-width: 767.98px) {
	/* Estilos para móviles grandes */
	.carousel-external {
		height: auto !important;
	}
	.works h2 {
    	font-size: 4vw;
	}
	.works h5 {
    	font-size: 2vw;
	}
	.works .works-title {
		font-size: 4vw;
	}
	.works .works-description {
    	font-size: 2vw;
	}
}
/* Mediano (tablets verticales) */
@media (min-width: 768px) and (max-width: 991.98px) {
	/* Estilos para tablets */
	.carousel-external {
		height: auto !important;
	}
}
/* Grande (laptops y tablets en horizontal) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* Estilos para pantallas medianas/grandes */
}
/* Extra grande (desktops grandes) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
  /* Estilos para monitores grandes */
}
/* Extra extra grande (pantallas muy grandes, 4K) */
@media (min-width: 1400px) {
  /* Estilos para pantallas gigantes */
}
