.nav-header-name h1 {
	font-size		: 2.616vw;
}
.nav-header-name h2 {
	font-size		:  2.095vw;
}
.nav-header a {
	text-decoration	: none;
	color 			: white;
	font-size		: 1.05vw;
}
.h1-super-title {
	/* font-size	: 55px; */
	font-size	: 3.6vw;
}
.about-me .card-info {
	border						: #98FAEC 3px solid;
	padding						: 2rem;
	border-top-left-radius		: 5rem;
	border-bottom-right-radius	: 5rem;
	-webkit-box-shadow			: -2px -1px 1px 0px rgba(255,255,255,1);
	-moz-box-shadow				: -2px -1px 1px 0px rgba(255,255,255,1);
	box-shadow					: -2px -1px 1px 0px rgba(255,255,255,1);
	width						: 80%;
	height						: 32rem;
}
.about-me .card-info .avatar {
	width			: 60%;
	border-radius	: 50%;
	margin			: 0 auto;
	box-shadow		: 0 0 10px rgba(0, 0, 0, .2);
}
.about-me .card-info span {
	font-size: 14px;
}
.about-me .tag {
	border-radius		: 10px;
	background-color	: #12f7d6;
	color				: black;
	font-size			: 12px;
}
.mat-divider-nav {
	border-top-color	: #43454D;
}
.small-about-box {
	font-size	: 14px;
}
.about-me .block-three .box-items {
	width				: 80%;
	background-color	: #1A1E23;
	height				: 100%;
	color				: white;
	border-radius		: 80px;
}
.arrow {
	width		: 4vw;
	animation	: 2s ease 0s infinite normal none running pulse;
}
@keyframes pulse {
	0% { transform: translate( 0px, 0px ); }
	70% { transform: translate( 0px, 20px ); }
	100% { transform: translate( 0px, 0px ); }
}
/* ---------- RESPONSIVO ---------- */
/* ////////// RESPONSIVO IPHONE / ANDROID / TABLE ////////// */
/* iPhone Portrait */
@media only screen
	and (min-device-width: 320px)
	and (max-device-width: 896px)
	and (orientation: portrait)
	and (-webkit-min-device-pixel-ratio: 2) {
	/* Estilos exclusivos para iPhone en vertical */

}
/* iPhone Landscape */
@media only screen
	and (min-device-width: 320px)
	and (max-device-width: 896px)
	and (orientation: landscape)
	and (-webkit-min-device-pixel-ratio: 2) {
	/* Estilos exclusivos para iPhone en horizontal */
}
/* Android Portrait */
@media only screen
	and (min-device-width: 320px)
	and (max-device-width: 800px)
	and (orientation: portrait)
	and (-webkit-min-device-pixel-ratio: 1) {
	/* Estilos exclusivos para Android en vertical */
}
/* Android Landscape */
@media only screen
	and (min-device-width: 320px)
	and (max-device-width: 800px)
	and (orientation: landscape)
	and (-webkit-min-device-pixel-ratio: 1) {
	/* Estilos exclusivos para Android en horizontal */
}
/* iPad / Tablets in Portrait */
@media only screen
	and (min-device-width: 768px)
	and (max-device-width: 1024px)
	and (orientation: portrait) {
	/* Estilos para tablets en vertical */
}
/* iPad / Tablets in Landscape */
@media only screen
	and (min-device-width: 768px)
	and (max-device-width: 1366px)
	and (orientation: landscape) {
	/* Estilos para tablets en horizontal */
	.nav-header a {
		font-size	: 1.5vw;
	}
	.about-me {
		padding-bottom	: 5vw;
	}
	.about-me .card-info {
		padding	: 1rem;
		width	: 85%;
	}
	.about-me .card-info span {
		font-size	: 12px;
	}
	.about-me .tag {
		font-size	: 8px;
	}
	.about-me .block-three .box-items {
		width: 95%;
	}
}
/* ////////// RESPONSIVO GENERAL ////////// */
/* Extra pequeño (móviles pequeños, menos de 576px) */
@media (max-width: 575.98px) {
	.nav-header-name h1 {
		font-size		: 3vw; /* 8 */
	}
	.nav-header-name h2 {
		font-size		: 3vw; /* 8 */
	}
	.nav-header a {
		font-size		: 3vw;
	}
	.nav-header .link-a {
		margin-top	: 0vw!important;
	}
	.h1-super-title {
		font-size	: 7vw;
	}
	.block-one {
		margin-top : 5vw!important;
	}
	.block-two {
		margin-top : 5vw!important;
	}
	.block-three {
		margin-top		: 5vw!important;
		margin-bottom	: 10vw !important;
	}
	.card-info span {
		font-size: 12px!important;
	}
	.tag {
    	font-size: 8px!important;
	}
	.box-about-me {
    	padding-left	: 15vw;
    	padding-right	: 5vw;
	}
	.box-about-me h1 {
		font-size	: 22px;
	}
	.about-me .block-three .box-items {
		width			: 70%;
		border-radius	: 80px;
		margin			: auto;
	}
	.about-me .block-three .box-items h2 {
		font-size	: 13vw;
	}
	.about-me .block-three .box-items .text {
		font-size	: 5vw;
	}
}
/* Pequeño (móviles grandes) */
@media (min-width: 576px) and (max-width: 767.98px) {
	/* Estilos para móviles grandes */
	.nav-header-name h1 {
		font-size		: 2.5vw; /* 8 */
	}
	.nav-header-name h2 {
		font-size		: 2.5vw; /* 8 */
	}
	.nav-header a {
		font-size		: 2.5vw;
	}
	.block-one {
		margin-top : 5vw!important;
	}
	.block-two {
		margin-top : 5vw!important;
	}
	.block-three {
		margin-top		: 5vw!important;
		margin-bottom	: 10vw !important;
	}
	.about-me .block-three .box-items {
		width			: 55%;
		margin			: auto;
	}
	.about-me .block-three .box-items h2 {
		font-size	: 6vw;
	}
	.about-me .block-three .box-items .text {
		font-size	: 3vw;
	}
}
/* Mediano (tablets verticales) */
@media (min-width: 768px) and (max-width: 991.98px) {
	/* Estilos para tablets */
	.nav-header-name h1 {
		font-size		: 1.5vw; /* 8 */
	}
	.nav-header-name h2 {
		font-size		: 1.5vw; /* 8 */
	}
	.nav-header a {
		font-size		: 1.5vw;
	}
	.block-one {
		margin-top : 5vw!important;
	}
	.block-two {
		margin-top : 5vw!important;
	}
	.block-three {
		margin-top		: 5vw!important;
		margin-bottom	: 10vw !important;
	}
	.about-me .block-three .box-items {
		width			: 55%;
		margin			: auto;
	}
	.about-me .block-three .box-items h2 {
		font-size	: 6vw;
	}
	.about-me .block-three .box-items .text {
		font-size	: 3vw;
	}
}

/* Grande (laptops y tablets en horizontal) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* Estilos para pantallas medianas/grandes */
}

/* Extra grande (desktops grandes) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
  /* Estilos para monitores grandes */
}

/* Extra extra grande (pantallas muy grandes, 4K) */
@media (min-width: 1400px) {
  /* Estilos para pantallas gigantes */
}
