.nav-header a {
	text-decoration	: none;
	color 			: white;
}
.h1-super-title {
	font-size: 55px;
}
.card-info {
	border						: #98FAEC 3px solid;
	padding						: 2rem;
	border-top-left-radius		: 5rem;
	border-bottom-right-radius	: 5rem;
	-webkit-box-shadow			: -2px -1px 1px 0px rgba(255,255,255,1);
	-moz-box-shadow				: -2px -1px 1px 0px rgba(255,255,255,1);
	box-shadow					: -2px -1px 1px 0px rgba(255,255,255,1);
	width						: 80%;
    height						: 32rem;
}
.card-info .avatar {
	width			: 70%;
    border-radius	: 50%;
    margin			: 0 auto;
    box-shadow		: 0 0 10px rgba(0, 0, 0, .2);
}
.card-info span {
	font-size: 14px;
}
.tag {
    border-radius: 10px;
    background-color: #12f7d6;
    color: black;
    font-size: 12px;
}
.mat-divider-nav {
    border-top-color	: #43454D;
}
.small-about-box {
	font-size: 14px;
}
.box-items {
	width: 100%;
	background-color: #1A1E23;
	height: 100%;
	color: white;
	border-radius: 80px;
}
