<!-- NAVIGATION MENU -->
<app-navigation-menu></app-navigation-menu>
<!-- HOME SECTION -->
<div id="home" [style.height]="innerWidth + 'px'" class="home-section">
	<app-home ></app-home>
</div>
<!-- SKILLS SECTION -->
<div id="skills" [style.height]="innerWidth + 'px'" class="skills-section">
	<div class="skills-section-bg"></div>
	<app-skills class="skills-section-app"></app-skills>
</div>
<!-- WORKS SECTION -->
<div id="works" [style.height]="innerWidth + 'px'" class="works-section">
	<app-works></app-works>
</div>
