<!-- NAVIGATION BAR FLOAT -->
<div class="navigation-bar-micro-container" [class.show]="showNavbar">
	<div class="navigation-bar-micro">
		<div class="container">
			<div class="row">
				<div class="col-4 col-md-12 cursor-pointer p-0 m-auto text-center mt-2 mb-2 links-divs" matTooltip="Inicio" matTooltipPosition="right">
					<a href="javascript:void(0)" (click)="onClickButton( 'home' )">
						<img src="menu-icons/icon-user.png" alt="">
					</a>
				</div>
				<div class="col-4 col-md-12 cursor-pointer p-0 m-auto text-center mt-2 mb-2 links-divs" matTooltip="Habilidades" matTooltipPosition="right">
					<a href="javascript:void(0)" (click)="onClickButton( 'skills' )">
						<img src="menu-icons/icon-code.png" alt="">
					</a>
				</div>
				<div class="col-4 col-md-12 cursor-pointer p-0 m-auto text-center mt-2 mb-2 links-divs" matTooltip="Trabajos" matTooltipPosition="right">
					<a href="javascript:void(0)" (click)="onClickButton( 'works' )">
						<img src="menu-icons/icon-monitor.png" alt="">
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
