.navigation-bar-micro-container {
	top			:40vh;
	bottom		: 0;
	position	: fixed;
	margin		: auto;
	left		: 20px;
	z-index		: 100;
}
.navigation-bar-micro {
	border-width				: 1px;
    border-style				: solid;
    border-color				: black;
    width						: 55px;
	height						: auto;
    border						: 2px solid #fff;
    background-color			: #1A1E23;
    padding						: 10px;
	border-top-left-radius		: 25px;
    border-top-right-radius		: 25px;
    border-bottom-left-radius	: 25px;
    border-bottom-right-radius	: 25px;
}
.navigation-bar-micro img {
	width : 30px;
}
/* Extra pequeño (móviles pequeños, menos de 576px) */
@media (max-width: 575.98px) {
	.navigation-bar-micro img {
    	width	: 15px;
	}
	.navigation-bar-micro {
		padding	: 0px;
		width	: 33px;
	}
	.navigation-bar-micro-container {
		left	: 5px;
	}
}

/* Pequeño (móviles grandes) */
@media (min-width: 576px) and (max-width: 767.98px) {
  /* Estilos para móviles grandes */
}

/* Mediano (tablets verticales) */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* Estilos para tablets */
}

/* Grande (laptops y tablets en horizontal) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* Estilos para pantallas medianas/grandes */
}

/* Extra grande (desktops grandes) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
  /* Estilos para monitores grandes */
}

/* Extra extra grande (pantallas muy grandes, 4K) */
@media (min-width: 1400px) {
  /* Estilos para pantallas gigantes */
}
