.icon-code {
	width : 120px;
}
.line-skill {
	width : 200px;
}
/* Vertical line arrow */
.vertical-line:after {
	content: "\e006";
	font-family: 'squarespace-ui-font';
	position: absolute;
	bottom: -10px;
	left: 50%;
	transform: translateX(-50%) rotate(180deg);
}
.vertical-line {
	position: relative;
}
.arrow {
	position	: relative;
	width		: 180px;
	height		: 2px;
	display		: flex;
	align-items	: center;
}
.arrow::before,
.arrow::after {
	content				: '';
	position			: absolute;
	width				: 10px;
	height				: 10px;
	background-color	: #98FAEC;
	border-radius		: 50%;
}
.arrow::before {
	left	: 0;
}
.arrow::after {
	right	: 0;
}
.arrow {
	background	: linear-gradient(to right, transparent 5px, #98FAEC 2px, #98FAEC calc(100% - 5px), transparent calc(100% - 30px)); /* Línea delgada */
}
.alert-width {
	width	: 18rem;
}
.float-end-custom {
	float: right;
	margin-right: 60px;
}
.float-start-custom {
	float: left;
	margin-left: 60px;
}
.skill-icon-enviroment {
	width	: 32px;
}
.alert-box-pc {
	border-left-color	: #f62BA0;
	border-left-width	: 5px;
}
.alert-box-mobile {
	border-left-color	: #0054e9;
	border-left-width	: 5px;
}
.skills-img {
	width	: 7rem;
}
.text-skills {
	font-weight	: 400;
	font-size	: 14px;
}
.arrow-section {
	width		: 4vw;
	animation	: 2s ease 0s infinite normal none running pulse;
}
@keyframes pulse {
	0% { transform: translate( 0px, 0px ); }
	70% { transform: translate( 0px, 20px ); }
	100% { transform: translate( 0px, 0px ); }
}
/* Extra pequeño (móviles pequeños, menos de 576px) */
@media (max-width: 575.98px) {
	.float-end-custom {
    	float			: none;
    	margin-right	: auto;
		margin			: auto;
		margin-top		: 10vw;
	}
	.float-start-custom {
		float		: none;
    	margin-left	: auto;
		margin		: auto;
		margin-top	: 10vw;
	}
	.skills-items {
		margin-top		: 5vw;
		margin-bottom	: 5vw;
	}
}

/* Pequeño (móviles grandes) */
@media (min-width: 576px) and (max-width: 767.98px) {
  /* Estilos para móviles grandes */
}

/* Mediano (tablets verticales) */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* Estilos para tablets */
}

/* Grande (laptops y tablets en horizontal) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* Estilos para pantallas medianas/grandes */
}

/* Extra grande (desktops grandes) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
  /* Estilos para monitores grandes */
}

/* Extra extra grande (pantallas muy grandes, 4K) */
@media (min-width: 1400px) {
  /* Estilos para pantallas gigantes */
}
